version: "3.8"

services:
  backend:
    container_name: atria-api-prod
    build:
      context: ./backend/atria
      dockerfile: ../../deploy/Dockerfile.backend.prod
    expose:
      - "5000"
    env_file:
      - ./backend/atria/.flaskenv
      - .env.production
    environment:
      - SEED_DB=${SEED_DB:-false}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - default
      - shared_portainer_network

  frontend:
    container_name: atria-client-prod
    build:
      context: ./frontend
      dockerfile: ../deploy/Dockerfile.frontend.prod
    expose:
      - "80"
    networks:
      - default
      - shared_portainer_network
    depends_on:
      - backend

  db:
    container_name: atria-db-prod
    image: postgres:15-alpine
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - default
      - shared_portainer_network

volumes:
  postgres_data_prod:

networks:
  default:
  shared_portainer_network:
    external: true
