.container {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabPanel {
  flex: 1;
  overflow: hidden;
  padding: 0;
}