# Core Flask
flask
flask-restful
flask-migrate
flask-sqlalchemy
flask-jwt-extended
flask-socketio
gunicorn
eventlet


# Schema & Serialization
marshmallow>=3
flask-marshmallow
marshmallow-sqlalchemy

# API Documentation
flask-smorest
apispec[yaml]
apispec-webframeworks

# Database
psycopg2-binary

# Utilities
python-dotenv
passlib
python-slugify

# Testing
tox

# Not currently using
# celery[redis]>=5.0.0