/* AppLayout.module.css */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout :global(.mantine-AppShell-header) {
  background: transparent;
  border: none;
  padding: 0;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.main {
  flex: 1;
  background-color: #FBFAFF;
}
