@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=AR+One+Sans:wght@400..700&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Anuphan&family=Arya:wght@400;700&family=Assistant:wght@200..800&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fuggles&family=Geologica:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=M+PLUS+2:wght@100..900&family=Mallanna&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sunflower:wght@300&display=swap');

.tagline {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'ABeeZee';
  color: #e4e4e4;
  margin: 1rem 0 2rem;
  max-width: 600px;
}
